/*
#overview
button

_button.scss
*/

/*
#styleguide
```
```
*/

.button {
    @include rem(25);
    display: inline-block;
    width: 60%;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    cursor: pointer;
    background: $color-b;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    font-weight: bold;
    font-family: $font-en;
    box-shadow: $shadow;
    position: relative;
    transition: color $speed, background-color $speed;

    &:hover {
//        color: $color-b;
        background: lighten($color-b,4%);
    }

    &-primary {
        width: 30%;
        color: #fff;
    }
    
    &-twitter {
        color: #fff;
        background: $twitter;
        
        &:hover {
            color: $default;
        }
    }
    
    &.small {
        @include rem(22);
        width: 150px;
        height: 40px;
        line-height: 40px;
        font-weight: normal;
    }
}

@include sp {

    .button {
        @include rem(18);

        &.small {
            @include rem(16);
        }
    }
}