/*
#overview
card

_card.scss
*/

/*
#styleguide
```
```
*/

.card {
    width: 100%;
    display: inline-block;
    text-align: left;
    background: #fff;
    box-shadow: $shadow;
    position: relative;

    &:hover {
        .comment {
            display: block;
            opacity: 1;
            animation: fade-in $speed;
        }
    }

    //&-embed {}

    &-body {
        padding: 12px 15px 18px;
        background: #3D3D3E;
    }

    &-heading {
        margin-bottom: 18px;

        > a {
            @include rem(20);
            display: block;
            color: #fff;
            text-decoration: none;
            font-weight: bold;
            line-height: 1.6;
            transition: color $speed;

            &:hover {
                color: $color-a;
            }
        }
    }

    &-tag-list {
        letter-spacing: -.4em;
        margin: 0 -5px 8px;
    }
    
    &-tag-item {
        display: inline-block;
        letter-spacing: 0;
        margin: 5px;
    }

    &-footer {
        color: #fff;
        font-family: $font-en;
        text-align: right;
    }
}


//comment
.comment {
    width: 320px;
    position: absolute;
    background: #fff;
    box-shadow: $shadow;
    border-radius: 3px;
    top: -20%;
    left: 0;
    z-index: 3;
    line-height: 1.6;
    padding: 10px;
    opacity: 0;
    display: none;

    &-arrow {
        position: absolute;
        z-index: 4;

        display: block;
        width: 0;
        height: 0;
        border: 16px solid transparent;


        border-top-color: rgba(0,0,0,.2);
        bottom: -32px;
        left: 30px;
        
        &:before {
            @extend .comment-arrow;
            content: "";
            border-top-color: #fff;
            bottom: -16px;
            left: -24px;
        }
    }
}
