            <!--footer ここから-->
            <footer class="footer">
                <small>Copyright &copy; <a href="https://twitter.com/seito_horiguchi" target="_blank">Horiguchi Seito(Japanese Web developer)</a></small>
            </footer>
            <!--footer ここまで-->
        </div>
        <!--wrapper ここまで-->