            <!--header ここから-->
            <header class="header header-lower">

                <div class="header-inner">
                    <div class="header-inner-left">
                        <a href="./" class="header-inner-logo">SUSI</a>
                    </div>
                    <div class="header-inner-right">
                        <form action="#" class="search-box">
                            <input type="search" value="" placeholder="ex)button, media, input ..." class="input" />
                            <button class="search-box-button">
                                <i class="icon icon-search">
                                    <span></span>
                                    <span></span>
                                </i>
                            </button>
                        </form>
                    </div>
                </div>

                <!--nav ここから-->
                <nav class="nav">
                    <ul class="nav-list">
                        <li class="nav-item">
                            <a href="#">Top</a>
                        </li>
                        <li class="nav-item">
                            <a href="#">Components</a>
                        </li>
                        <li class="nav-item">
                            <a href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a href="#">License & Author</a>
                        </li>
                    </ul>
                </nav>
                <!--nav ここまで-->
            </header>
            <!--header ここまで-->


