/*
全ページ共通で使い回すモジュールのスタイル
*/

//main-view
.main-view {
    @extend .container;
    position: relative;

    &-visual {
        width: 100%;
        height: 100%;
        position: relative;
        top: 0;
        left: 0;
        z-index: 1;
    }

    &-text {
        width: 100%;
        @include middle;
        left: 0;
        z-index: 2;
        color: $grey;
        text-align: center;
        font-family: $font-en;

        > span {
            display: block;

            &:nth-child(1) {
                @include rem(140);
                font-weight: bold;
                margin-bottom: 34px;
                text-shadow: 6px 6px 0 lighten($grey,20%);
            }

            &:nth-child(2) {
                @include rem(50);
                margin-bottom: 26px;
            }

            &:nth-child(3) {
                @include rem(20);
                margin-bottom: 33px;
            }
            
            > span {
                font-weight: bold;
                @include rem(24);
                color: darken($grey,10%);
            }
        }
    }
}

//section
.section {

    &-text {
        @include rem(18);
        width: 100%;
        padding: 0 15px;
        line-height: 2;

        strong,b,em {
            font-weight: bold;
        }
        
        p , ul {
            margin-bottom: 29px;
        }

        li {
            position: relative;
            padding-left: 23px;

            &:before {
                content: "";
                display: block;
                width: 10px;
                height: 10px;
                background: $color-b;
                position: absolute;
                transform: translate(-23px,12px) rotate(45deg);
            }
        }

    }

    &-footer {
        margin-top: 50px;
        text-align: center;
    }
}

//card-wrapper
.card {

    &-list {
        width: 100%;
        margin-bottom: 30px;
        letter-spacing: -.4em;
    }

    &-item {
        display: inline-block;
        letter-spacing: 0;
        vertical-align: top;
        width: 33.33%;
        text-align: center;
        padding: 15px;

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
            padding-top: 0;
        }
    }
}


//tag
.tag-list {
    padding: 0 20px;

    &-item {
        display: inline-block;
    }

    .tag {
        margin: 10px;
        @include rem(20);
        padding: 10px 20px 10px;
        box-shadow: $shadow;
    }
}