.page-index {

    .header {
        margin-bottom: 142px;
    }

    .section {
        margin-bottom: 192px;
    }
}

.page-archive {

    .header {
        margin-bottom: 80px;
    }

    .section {
        margin-bottom: 192px;
    }
}


@include sp {

    .page-index {

        .header {
            margin-bottom: 66px;
        }

        .section {
            margin-bottom: 56px;
        }
    }

    .page-archive {

        .header {
            margin-bottom: 70px;
        }

        .section {
            margin-bottom: 56px;
        }
    }
}