.header {
    width: 100%;
    background: #fff;
    box-shadow: $shadow;

    &-lower {

        .nav-list {
            border-top: 1px solid $foundation;
        }
    }
}

//global nav
.nav {
    @extend .container;
    font-family: $font-en;

    &-list {
        width: 100%;
        display: table;
        table-layout: fixed;
    }

    &-item {
        width: 25%;
        height: 60px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        border-right: 1px solid $foundation;

        &:last-child {
            border-right: 0;
        }

        > a {
            @include rem(20);
            width: 100%;
            display: block;
            height: 60px;
            line-height: 60px;
            text-decoration: none;
            background: #fff;
            color: $default;
            transition: color $speed , background-color $speed;

            &:hover {
                background: $default;
                color: #fff;
            }
        }
    }
}

@include sp {

    .nav {

        &-item {

            &:nth-child(1) {
                width: 23%;
            }

            &:nth-child(2) {
                width: 31%;
            }

            > a {
                @include rem(15);
            }
        }
    }
}

//header-inner
.header-inner {
    @extend %clearfix;
    width: 100%;
    padding: 20px 30px;

    &-left {
        float: left;
        width: 40%;
    }

    &-right {
        float: right;
        width: 40%;
        text-align: right;
    }

    &-logo {
        @include rem(50);
        text-decoration: none;
        color: $grey;
        font-weight: bold;
        text-shadow: 3px 3px 0 lighten($grey,20%);
        font-family: $font-en;
    }
    
    .search-box {
        display: inline-block;
    }
}

.search-box {
    width: 100%;
    position: relative;
    letter-spacing: -.4em;
    padding-top: 5px;

    .input {
        width: 100%;
        padding-right: 50px;
    }

    &-button {
        display: block;
        width: 40px;
        height: 40px;
        background: $grey;
        border-radius: 0 3px 3px 0;
        position: absolute;
        top: 5px;
        right: 0;
    }
}

.icon {

    &-search {
        display: inline-block;
        width: 40px;
        height: 40px;
        position: relative;

        > span {
            display: block;
            position: absolute;

            &:nth-child(1) {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 3px solid #fff;
                transform: translate(12px, 6px);
            }

            &:nth-child(2) {
                width: 10px;
                height: 3px;
                background: #fff;
                transform: translate(7px, 25px) rotate(-45deg);
            }
        }
    }
}

@include sp {
    
    .header-inner {
        padding: 15px 10px;
    }

    .header-inner-left {
        width: 40%;
    }

    .header-inner-right {
        width: 60%;
    }
}