/*
#colors


@base #4ac8bb

@facebook #4c69a5
@twitter #60b5de
@google #e0553e
*/

$default: #555;
$foundation: #F5F1E9;
$grey: #A09F9B;

$color-a: #4965B5;
$color-b: #00CCCC;
$color-c: #FF6666;

$facebook: #4c69a5;
$twitter: #60b5de;
$google: #e0553e;