/*
* 変数用scss(カラーコード以外)
*/

//path
$path-image: "../image/";
$path-sprite: "../image/sprite/dest/";

// clum width
$gutter: 0;
$size-max: 1220px;
$size-min: 320px;

// scale (sprite生成で使用)
$default-scale: 1;

//font
$font: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);
$font-en: 'Source Sans Pro', sans-serif;

//speed
$speed: 0.35s;

//style
$shadow: 6px 6px 0 rgba(0,0,0,.2);
$shadow-none: 0 0 0 rgba(0,0,0,.2);