@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);
/*
* base
*/
/*
#colors


@base #4ac8bb

@facebook #4c69a5
@twitter #60b5de
@google #e0553e
*/
/*
* 変数用scss(カラーコード以外)
*/
.header-inner {
  zoom: 1; }
  .header-inner:before, .header-inner:after {
    content: "";
    display: block; }
  .header-inner:after {
    clear: both; }

body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  line-height: 1;
  word-break: break-all; }

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, menu, nav, section, summary, time, mark, audio, video, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
  vertical-align: baseline;
  background: transparent; }

img {
  vertical-align: bottom; }

article, aside, details, figcaption, figure, footer, header, menu, nav, section, div, address, iframe, canvas, hr, textarea {
  display: block;
  line-height: 1; }

iframe {
  max-width: 100% !important; }

img, embed, object, video {
  max-width: 100%; }

a, label {
  cursor: pointer; }

blockquote {
  padding: 0;
  margin: 0;
  display: block; }

address, em {
  font-style: normal; }

hr {
  border: 0;
  margin: 0;
  padding: 0; }

ul, ol, li {
  list-style: none; }

textarea {
  resize: vertical;
  overflow: hidden;
  -webkit-appearance: none;
  border: 0; }

input, button, select {
  vertical-align: middle;
  border-radius: 0;
  border: 0;
  background: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
  -webkit-appearance: none; }

table {
  border-collapse: collapse; }

*:before, *:after {
  padding: 0;
  margin: 0;
  line-height: 1; }

@-webkit-keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
    -webkit-transform: translate3d(0, -8px, 0);
    transform: translate3d(0, -8px, 0); }

  1% {
    display: block;
    opacity: 0;
    -webkit-transform: translate3d(0, -8px, 0);
    transform: translate3d(0, -8px, 0); }

  100% {
    display: block;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
    -webkit-transform: translate3d(0, -8px, 0);
    transform: translate3d(0, -8px, 0); }

  1% {
    display: block;
    opacity: 0;
    -webkit-transform: translate3d(0, -8px, 0);
    transform: translate3d(0, -8px, 0); }

  100% {
    display: block;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

.u_mt0 {
  margin-top: 0px !important; }

.u_mr0 {
  margin-right: 0px !important; }

.u_mb0 {
  margin-bottom: 0px !important; }

.u_ml0 {
  margin-left: 0px !important; }

.u_pt0 {
  padding-top: 0px !important; }

.u_pr0 {
  padding-right: 0px !important; }

.u_pb0 {
  padding-bottom: 0px !important; }

.u_pl0 {
  padding-left: 0px !important; }

.u_mt5 {
  margin-top: 5px !important; }

.u_mr5 {
  margin-right: 5px !important; }

.u_mb5 {
  margin-bottom: 5px !important; }

.u_ml5 {
  margin-left: 5px !important; }

.u_pt5 {
  padding-top: 5px !important; }

.u_pr5 {
  padding-right: 5px !important; }

.u_pb5 {
  padding-bottom: 5px !important; }

.u_pl5 {
  padding-left: 5px !important; }

.u_mt10 {
  margin-top: 10px !important; }

.u_mr10 {
  margin-right: 10px !important; }

.u_mb10 {
  margin-bottom: 10px !important; }

.u_ml10 {
  margin-left: 10px !important; }

.u_pt10 {
  padding-top: 10px !important; }

.u_pr10 {
  padding-right: 10px !important; }

.u_pb10 {
  padding-bottom: 10px !important; }

.u_pl10 {
  padding-left: 10px !important; }

.u_mt15 {
  margin-top: 15px !important; }

.u_mr15 {
  margin-right: 15px !important; }

.u_mb15 {
  margin-bottom: 15px !important; }

.u_ml15 {
  margin-left: 15px !important; }

.u_pt15 {
  padding-top: 15px !important; }

.u_pr15 {
  padding-right: 15px !important; }

.u_pb15 {
  padding-bottom: 15px !important; }

.u_pl15 {
  padding-left: 15px !important; }

.u_mt20 {
  margin-top: 20px !important; }

.u_mr20 {
  margin-right: 20px !important; }

.u_mb20 {
  margin-bottom: 20px !important; }

.u_ml20 {
  margin-left: 20px !important; }

.u_pt20 {
  padding-top: 20px !important; }

.u_pr20 {
  padding-right: 20px !important; }

.u_pb20 {
  padding-bottom: 20px !important; }

.u_pl20 {
  padding-left: 20px !important; }

.u_mt25 {
  margin-top: 25px !important; }

.u_mr25 {
  margin-right: 25px !important; }

.u_mb25 {
  margin-bottom: 25px !important; }

.u_ml25 {
  margin-left: 25px !important; }

.u_pt25 {
  padding-top: 25px !important; }

.u_pr25 {
  padding-right: 25px !important; }

.u_pb25 {
  padding-bottom: 25px !important; }

.u_pl25 {
  padding-left: 25px !important; }

.u_mt30 {
  margin-top: 30px !important; }

.u_mr30 {
  margin-right: 30px !important; }

.u_mb30 {
  margin-bottom: 30px !important; }

.u_ml30 {
  margin-left: 30px !important; }

.u_pt30 {
  padding-top: 30px !important; }

.u_pr30 {
  padding-right: 30px !important; }

.u_pb30 {
  padding-bottom: 30px !important; }

.u_pl30 {
  padding-left: 30px !important; }

.u_mt35 {
  margin-top: 35px !important; }

.u_mr35 {
  margin-right: 35px !important; }

.u_mb35 {
  margin-bottom: 35px !important; }

.u_ml35 {
  margin-left: 35px !important; }

.u_pt35 {
  padding-top: 35px !important; }

.u_pr35 {
  padding-right: 35px !important; }

.u_pb35 {
  padding-bottom: 35px !important; }

.u_pl35 {
  padding-left: 35px !important; }

.u_mt40 {
  margin-top: 40px !important; }

.u_mr40 {
  margin-right: 40px !important; }

.u_mb40 {
  margin-bottom: 40px !important; }

.u_ml40 {
  margin-left: 40px !important; }

.u_pt40 {
  padding-top: 40px !important; }

.u_pr40 {
  padding-right: 40px !important; }

.u_pb40 {
  padding-bottom: 40px !important; }

.u_pl40 {
  padding-left: 40px !important; }

.u_mt45 {
  margin-top: 45px !important; }

.u_mr45 {
  margin-right: 45px !important; }

.u_mb45 {
  margin-bottom: 45px !important; }

.u_ml45 {
  margin-left: 45px !important; }

.u_pt45 {
  padding-top: 45px !important; }

.u_pr45 {
  padding-right: 45px !important; }

.u_pb45 {
  padding-bottom: 45px !important; }

.u_pl45 {
  padding-left: 45px !important; }

.u_mt50 {
  margin-top: 50px !important; }

.u_mr50 {
  margin-right: 50px !important; }

.u_mb50 {
  margin-bottom: 50px !important; }

.u_ml50 {
  margin-left: 50px !important; }

.u_pt50 {
  padding-top: 50px !important; }

.u_pr50 {
  padding-right: 50px !important; }

.u_pb50 {
  padding-bottom: 50px !important; }

.u_pl50 {
  padding-left: 50px !important; }

.u_mt55 {
  margin-top: 55px !important; }

.u_mr55 {
  margin-right: 55px !important; }

.u_mb55 {
  margin-bottom: 55px !important; }

.u_ml55 {
  margin-left: 55px !important; }

.u_pt55 {
  padding-top: 55px !important; }

.u_pr55 {
  padding-right: 55px !important; }

.u_pb55 {
  padding-bottom: 55px !important; }

.u_pl55 {
  padding-left: 55px !important; }

.u_mt60 {
  margin-top: 60px !important; }

.u_mr60 {
  margin-right: 60px !important; }

.u_mb60 {
  margin-bottom: 60px !important; }

.u_ml60 {
  margin-left: 60px !important; }

.u_pt60 {
  padding-top: 60px !important; }

.u_pr60 {
  padding-right: 60px !important; }

.u_pb60 {
  padding-bottom: 60px !important; }

.u_pl60 {
  padding-left: 60px !important; }

.u_mt65 {
  margin-top: 65px !important; }

.u_mr65 {
  margin-right: 65px !important; }

.u_mb65 {
  margin-bottom: 65px !important; }

.u_ml65 {
  margin-left: 65px !important; }

.u_pt65 {
  padding-top: 65px !important; }

.u_pr65 {
  padding-right: 65px !important; }

.u_pb65 {
  padding-bottom: 65px !important; }

.u_pl65 {
  padding-left: 65px !important; }

.u_mt70 {
  margin-top: 70px !important; }

.u_mr70 {
  margin-right: 70px !important; }

.u_mb70 {
  margin-bottom: 70px !important; }

.u_ml70 {
  margin-left: 70px !important; }

.u_pt70 {
  padding-top: 70px !important; }

.u_pr70 {
  padding-right: 70px !important; }

.u_pb70 {
  padding-bottom: 70px !important; }

.u_pl70 {
  padding-left: 70px !important; }

* {
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  min-height: 100%; }

body {
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  background: #F5F1E9;
  color: #555; }

input, button, select, textarea {
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif; }

.wrapper {
  width: 100%; }

.for-old {
  display: none; }
  .lt-ie9 .for-old {
    display: block; }

.container, .nav, .contents, .main-view {
  width: 100%;
  max-width: 1220px;
  min-width: 320px;
  padding: 0 15px;
  margin: 0 auto; }

::-moz-selection {
  background: #A09F9B;
  color: #fff; }

::selection {
  background: #A09F9B;
  color: #fff; }

@media all and (max-width: 780px) {
  .container, .nav, .contents, .main-view {
    padding: 0; } }

/*
* layout
*/
.header {
  width: 100%;
  background: #fff;
  box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.2); }
  .header-lower .nav-list {
    border-top: 1px solid #F5F1E9; }

.nav {
  font-family: 'Source Sans Pro', sans-serif; }
  .nav-list {
    width: 100%;
    display: table;
    table-layout: fixed; }
  .nav-item {
    width: 25%;
    height: 60px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border-right: 1px solid #F5F1E9; }
    .nav-item:last-child {
      border-right: 0; }
    .nav-item > a {
      font-size: 20px;
      font-size: 2rem;
      width: 100%;
      display: block;
      height: 60px;
      line-height: 60px;
      text-decoration: none;
      background: #fff;
      color: #555;
      transition: color 0.35s, background-color 0.35s; }
      .nav-item > a:hover {
        background: #555;
        color: #fff; }

@media all and (max-width: 780px) {
  .nav-item:nth-child(1) {
    width: 23%; }
  .nav-item:nth-child(2) {
    width: 31%; }
  .nav-item > a {
    font-size: 15px;
    font-size: 1.5rem; } }

.header-inner {
  width: 100%;
  padding: 20px 30px; }
  .header-inner-left {
    float: left;
    width: 40%; }
  .header-inner-right {
    float: right;
    width: 40%;
    text-align: right; }
  .header-inner-logo {
    font-size: 50px;
    font-size: 5rem;
    text-decoration: none;
    color: #A09F9B;
    font-weight: bold;
    text-shadow: 3px 3px 0 #d2d1cf;
    font-family: 'Source Sans Pro', sans-serif; }
  .header-inner .search-box {
    display: inline-block; }

.search-box {
  width: 100%;
  position: relative;
  letter-spacing: -.4em;
  padding-top: 5px; }
  .search-box .input {
    width: 100%;
    padding-right: 50px; }
  .search-box-button {
    display: block;
    width: 40px;
    height: 40px;
    background: #A09F9B;
    border-radius: 0 3px 3px 0;
    position: absolute;
    top: 5px;
    right: 0; }

.input {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  border: 2px solid #F5F1E9;
  border-radius: 3px;
  padding: 0 10px;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif; }
  .input::-webkit-input-placeholder {
    font-size: 16pxpx;
    font-size: 1.6pxrem;
    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    color: #A09F9B; }
  .input::-moz-placeholder {
    font-size: 16pxpx;
    font-size: 1.6pxrem;
    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    color: #A09F9B; }
  .input:-ms-input-placeholder {
    font-size: 16pxpx;
    font-size: 1.6pxrem;
    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    color: #A09F9B; }
  .input::placeholder {
    font-size: 16pxpx;
    font-size: 1.6pxrem;
    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    color: #A09F9B; }

.icon-search {
  display: inline-block;
  width: 40px;
  height: 40px;
  position: relative; }
  .icon-search > span {
    display: block;
    position: absolute; }
    .icon-search > span:nth-child(1) {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 3px solid #fff;
      -webkit-transform: translate(12px, 6px);
      transform: translate(12px, 6px); }
    .icon-search > span:nth-child(2) {
      width: 10px;
      height: 3px;
      background: #fff;
      -webkit-transform: translate(7px, 25px) rotate(-45deg);
      transform: translate(7px, 25px) rotate(-45deg); }

@media all and (max-width: 780px) {
  .header-inner {
    padding: 15px 10px; }
  .header-inner-left {
    width: 40%; }
  .header-inner-right {
    width: 60%; } }

.footer {
  font-size: 18px;
  font-size: 1.8rem;
  height: 80px;
  line-height: 80px;
  background: #555;
  color: #fff;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 1px; }
  .footer a {
    color: #4965B5;
    transition: color 0.35s; }
    .footer a:hover {
      color: #fff; }

@media all and (max-width: 780px) {
  .footer {
    height: 40px;
    line-height: 40px;
    font-size: 10px;
    font-size: 1rem; } }

.contents {
  padding: 0; }

/*
* sprite
*/
/*
* page
*/
/*
全ページ共通で使い回すモジュールのスタイル
*/
.main-view {
  position: relative; }
  .main-view-visual {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1; }
  .main-view-text {
    width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    left: 0;
    z-index: 2;
    color: #A09F9B;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    position: absolute; }
    .main-view-text > span {
      display: block; }
      .main-view-text > span:nth-child(1) {
        font-size: 140px;
        font-size: 14rem;
        font-weight: bold;
        margin-bottom: 34px;
        text-shadow: 6px 6px 0 #d2d1cf; }
      .main-view-text > span:nth-child(2) {
        font-size: 50px;
        font-size: 5rem;
        margin-bottom: 26px; }
      .main-view-text > span:nth-child(3) {
        font-size: 20px;
        font-size: 2rem;
        margin-bottom: 33px; }
      .main-view-text > span > span {
        font-weight: bold;
        font-size: 24px;
        font-size: 2.4rem;
        color: #878681; }

.section-text {
  font-size: 18px;
  font-size: 1.8rem;
  width: 100%;
  padding: 0 15px;
  line-height: 2; }
  .section-text strong, .section-text b, .section-text em {
    font-weight: bold; }
  .section-text p, .section-text ul {
    margin-bottom: 29px; }
  .section-text li {
    position: relative;
    padding-left: 23px; }
    .section-text li:before {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      background: #00CCCC;
      position: absolute;
      -webkit-transform: translate(-23px, 12px) rotate(45deg);
      transform: translate(-23px, 12px) rotate(45deg); }
.section-footer {
  margin-top: 50px;
  text-align: center; }
  .section-footer > a {
    display: inline-block; }

.card-list {
  width: 100%;
  margin-bottom: 30px;
  letter-spacing: -.4em; }
.card-item {
  display: inline-block;
  letter-spacing: 0;
  vertical-align: top;
  width: 33.33%;
  text-align: center;
  padding: 15px; }
  .card-item:nth-child(1), .card-item:nth-child(2), .card-item:nth-child(3) {
    padding-top: 0; }

.tag-list {
  padding: 0 20px; }
  .tag-list-item {
    display: inline-block; }
  .tag-list .tag {
    margin: 10px;
    font-size: 20px;
    font-size: 2rem;
    padding: 10px 20px 10px;
    box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.2); }

@media (min-width: 780px) and (max-width: 1220px) {
  .main-view {
    position: relative; }
    .main-view-text > span:nth-child(1) {
      font-size: 120px;
      font-size: 12rem;
      line-height: 2;
      margin-bottom: 32px; }
    .main-view-text > span:nth-child(2) {
      font-size: 40px;
      font-size: 4rem;
      margin-bottom: 30px; }
    .main-view-text > span:nth-child(3) {
      font-size: 18px;
      font-size: 1.8rem; }
    .main-view-text > span > span {
      font-size: 24px;
      font-size: 2.4rem; }
  .card-item {
    width: 50%; } }

@media all and (max-width: 780px) {
  .main-view-text {
    padding: 0 10px; }
    .main-view-text > span:nth-child(1) {
      font-size: 100px;
      font-size: 10rem;
      line-height: 1;
      margin-bottom: 20px; }
    .main-view-text > span:nth-child(2) {
      font-size: 30px;
      font-size: 3rem;
      line-height: 36px;
      margin-bottom: 14px; }
    .main-view-text > span:nth-child(3) {
      font-size: 13px;
      font-size: 1.3rem;
      line-height: 1.4; }
    .main-view-text > span > span {
      font-size: 24px;
      font-size: 2.4rem; }
  .card-list {
    margin-bottom: 20px; }
  .card-item {
    width: 100%; }
  .section-text {
    font-size: 15px;
    font-size: 1.5rem; }
    .section-text p {
      margin-bottom: 14px; }
  .section-footer {
    letter-spacing: -.4em;
    padding: 0 5px;
    margin-top: 20px; }
    .section-footer > a {
      width: 33.33%;
      padding: 0 5px;
      letter-spacing: 0; }
      .section-footer > a img {
        width: 100%;
        height: auto; } }

.page-index .header {
  margin-bottom: 142px; }
.page-index .section {
  margin-bottom: 192px; }

.page-archive .header {
  margin-bottom: 80px; }
.page-archive .section {
  margin-bottom: 192px; }

@media all and (max-width: 780px) {
  .page-index .header {
    margin-bottom: 66px; }
  .page-index .section {
    margin-bottom: 56px; }
  .page-archive .header {
    margin-bottom: 70px; }
  .page-archive .section {
    margin-bottom: 56px; } }

/*
* module
*/
/*
#overview
button

_button.scss
*/
/*
#styleguide
```
```
*/
.button {
  font-size: 25px;
  font-size: 2.5rem;
  display: inline-block;
  width: 60%;
  height: 50px;
  line-height: 50px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  color: #555;
  text-align: center;
  border-radius: 3px;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
  box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  transition: color 0.35s; }
  .button:hover {
    color: #4965B5; }
  .button-primary {
    width: 30%;
    color: #A09F9B; }
  .button-twitter {
    color: #fff;
    background: #60b5de; }
    .button-twitter:hover {
      color: #555; }
  .button.small {
    font-size: 22px;
    font-size: 2.2rem;
    width: 150px;
    height: 40px;
    line-height: 40px;
    font-weight: normal; }

@media all and (max-width: 780px) {
  .button {
    font-size: 18px;
    font-size: 1.8rem; }
    .button.small {
      font-size: 16px;
      font-size: 1.6rem; } }

/*
#overview
card

_card.scss
*/
/*
#styleguide
```
```
*/
.card {
  width: 100%;
  display: inline-block;
  text-align: left;
  background: #fff;
  box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.2);
  position: relative; }
  .card:hover .comment {
    display: block;
    opacity: 1;
    -webkit-animation: fade-in 0.35s;
    animation: fade-in 0.35s; }
  .card-body {
    padding: 12px 15px 18px;
    background: #3D3D3E; }
  .card-heading {
    margin-bottom: 18px; }
    .card-heading > a {
      font-size: 20px;
      font-size: 2rem;
      display: block;
      color: #fff;
      text-decoration: none;
      font-weight: bold;
      line-height: 1.6;
      transition: color 0.35s; }
      .card-heading > a:hover {
        color: #4965B5; }
  .card-tag-list {
    letter-spacing: -.4em;
    margin: 0 -5px 8px; }
  .card-tag-item {
    display: inline-block;
    letter-spacing: 0;
    margin: 5px; }
  .card-footer {
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: right; }

.comment {
  width: 320px;
  position: absolute;
  background: #fff;
  box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  top: -20%;
  left: 0;
  z-index: 3;
  line-height: 1.6;
  padding: 10px;
  opacity: 0;
  display: none; }
  .comment-arrow, .comment-arrow:before {
    position: absolute;
    z-index: 4;
    display: block;
    width: 0;
    height: 0;
    border: 16px solid transparent;
    border-top-color: rgba(0, 0, 0, 0.2);
    bottom: -32px;
    left: 30px; }
    .comment-arrow:before {
      content: "";
      border-top-color: #fff;
      bottom: -16px;
      left: -24px; }

/*
#overview
heading

_heading.scss
*/
/*
#styleguide
```
```
*/
.heading {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 50px;
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 42px; }

@media all and (max-width: 780px) {
  .heading {
    font-size: 30px;
    font-size: 3rem;
    margin-bottom: 30px; } }

/*
#overview
tag

_tag.scss
*/
/*
#styleguide
```
```
*/
.tag {
  display: inline-block;
  padding: 4px 10px 6px;
  text-decoration: none;
  color: #555;
  background: #fff;
  border-radius: 3px;
  transition: color 0.35s; }
  .tag:hover {
    color: #4965B5; }
